body {
    background-color: silver;
}

#container {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 400px;
    width: 220px;
    height: 190px;
    margin: auto;
}

#stopwatch {
    font-size: 60px;
    margin: 0 0 10 0;
    width: 190;
}

input {
    width: 70px;
    height: 35px;
    border-radius: 8px;
    background: #704241;
    color: white;
    cursor: pointer;
    outline: none;
}